<!DOCTYPE html>
    <html>
        <head>
            <title>Title</title>
        </head>

        <body>
            <h1>
                <% t= Time.now %>
                <%= "The date is " + t.strftime("%A") + ", " + t.strftime("%B %d, %Y") %>
            </h1>
        </body>
    </html>